apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    cni:
      exclusive: false
    eni:
      enabled: true
    kubeProxyReplacement: true
    k8sServiceHost: "{{ hostvars['rke2_primary'][0].ansible_default_ipv4.address }}"
    k8sServicePort: "6443"
    hubble:
       enabled: true
       metrics:
           enabled:
           - dns:query;ignoreAAAA
           - drop
           - tcp
           - flow
           - icmp
           - http
           dashboards:
           enabled: true
       relay:
           enabled: true
           prometheus:
           enabled: true
       ui:
           enabled: true
           baseUrl: "/"
    ingressController:
       enabled: false
    envoyConfig:
       enabled: true
       secretsNamespace:
           create: true
           name: cilium-secrets
    debug:
       enabled: true
    rbac:
       create: true
    version: 1.18.0
    operator:
       prometheus:
          enabled: true
       dashboards:
          enabled: true